/* .course-card-container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
}

.course-flex{
    display: flex;
    flex-direction: column;
    gap: 10px;
} */
.request-edit-button:hover {
  background-color: #0056b3;
}

.requested-course-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.requested-course-card {
  background-color: var(--background-2);
  border-radius: 8px;
  padding: 15px;
  width: calc(50% - 20px);
  /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.requested-course-card h3 {
  margin-bottom: 10px;
}

.requested-course-card p {
  margin: 5px 0;
}



.course-card-container {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  /* Add spacing between the boxes */
}

.course-cardd {
  width: 48%;
  position: relative;
  padding: 16px;
  background-color: var(--background-2);
  border-radius: 5px;
  border: 1px solid #e0e0e0;
}

.course-flex {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.request-edit-button {
  position: absolute;
  top: 8px;
  right: 8px;
}

@media (max-width: 768px) {
  .course-cardd {
    width: 100%;
    /* Cards will take full width on smaller screens */
  }
}

.heading {
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 10px;
}

.course-name{
  font-weight: 600;
}

.no-records{
  font-size: small;
  font-weight: 500;
  color: gray;
}