.col {
    display: flex;
}
.select-container{
    display: flex;
    gap: 10px;
}

.r-select{
    flex: 1;
}

@media (max-width: 999px){
    .select-container{
        flex-direction: column;
    }
}